<div>
  <div class="container">
    <h1 class="main-header">CONTACT US</h1>
    <form novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="name">Full Name *</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
            <div class="alert alert-danger"
                *ngIf="name.errors && (name.dirty || name.touched)">Full Name is required
            </div>
          </div>
        </div>
      <div class="col-sm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
          <div class="alert alert-danger"
               *ngIf="email.errors && (email.dirty || email.touched)">Invalid Email address
          </div>
      </div>
      </div>
      <div class="col-sm">
      <div class="form-group">
        <label for="phone">Phone *</label>
        <input type="phone" class="form-control" id="phone" formControlName="phone" required>
          <div class="alert alert-danger"
               *ngIf="phone.errors && (phone.dirty || phone.touched)">Invalid phone number
          </div>
      </div>
      </div>
      </div>
      <div class="form-group">
        <label for="message">Message *</label>
        <textarea class="form-control" id="message" formControlName="message" required></textarea>
          <div class="alert alert-danger"
               *ngIf="message.errors && (message.dirty || message.touched)">Message is required
          </div>
      </div>
      <button type="submit"
              class="btn btn-primary generic-btn generic-form-btn"
              id="contact-form-btn">SEND</button>
    </form>
  </div>
  <div class="container">
    <agm-map [latitude]="51.509865" [longitude]="-0.118092" class="agm-map">
      <agm-marker [latitude]="52.6522568" [longitude]="1.2870537"></agm-marker>
    </agm-map>
  </div>
</div>
