<div class="row">
  <div class="col-sm">
    <div class="container">
      <h1 class="main-header">CLASS</h1>
      <div class="container">
          <p><strong>Venue</strong> : Royston Leisure Centre,</p>
          <p>Woodcock Rd, Royston SG8 7XT</p>
          <br>
          <br>
          <p><strong>Time:</strong></p>
          <p>Friday 6 PM to 7 PM   : Beginner lesson</p>
          <p>Friday 7 PM to 8 PM   : Advanced lesson</p>
          <br>
          <br>
          <p>Ages from 6 onwards and all abilities are welcome.</p>
          <br>
          <p>The classes are designed to learn self-defense in a perfectly controlled environment,
              ensuring safety , discipline and respect; making it suitable for everyone.</p>
          <br>
          <br>
          <p><strong>About your first lesson</strong></p>
          <br>
          <p>First lesson is free. No preparation needed , please come in loose clothes.
              Also bring a drink with you.</p>
          <br>
          <p><strong>Fee is pay as you go.</strong></p>
          <p>Beginner   : £5</p>
          <p>Advanced   : £7.5</p>

      </div>
    </div>
  </div>
  <div class="col-sm">
      <img src="../../../assets/images/class.JPG" alt="" class="img-fluid">
  </div>
</div>

