<div class="admin-navbar">
  <span><fa [name]="'user'" [size]=5></fa></span>
  <span><p> Welcome RSKA Admin</p></span>
  <span class="logout-span"><a [routerLink]="['']" class="btn btn-block" id="logout-button">Logout</a></span>
</div>
<div class="row">
  <div class="col-sm-2">
      <ul class="admin-list">
          <li class="admin-list-item">
            <a class = "btn btn-primary" [routerLink]="['gallerymanager']">Gallery</a>
          </li>
          <li class="admin-list-item">
            <a class = "btn btn-primary" [routerLink]="['newsflashmanager']">News Flash</a>
          </li>
          <li class="admin-list-item">
            <a class = "btn btn-primary" [routerLink]="['locationmanager']">Location</a>
          </li>
          <li class="admin-list-item">
            <a class = "btn btn-primary" [routerLink]="['classmanager']">Class</a>
          </li>
          <li class="admin-list-item">
            <a class = "btn btn-primary" [routerLink]="['instructorsmanager']">Instructors</a>
          </li>
          <li class="admin-list-item">
            <a class = "btn btn-primary" [routerLink]="['copyrightmanager']">Copyright Text</a>
          </li>
        </ul>
  </div>
  <div class="col-sm-8 admin-container">
    <router-outlet></router-outlet>
  </div>
</div>

