
<nav class="navbar navbar-expand-md navbar-dark bg-dark form-inline" role="navigation">
    <div class="container-fluid">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <img class ="icon-image logo-img" src="../../../assets/images/logo.jpg">
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">CLASS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INSTRUCTORS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>

      <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
          <li class="nav-item order-2 order-md-1">
            <a href="#" class="nav-link" title="settings"><fa [name]="'facebook-square'" [size]=5></fa></a>
          </li>
          <li class="nav-item order-2 order-md-1">
            <a href="#" class="nav-link" title="settings"><fa [name]="'twitter-square'" [size]=5></fa></a>
          </li>
      </ul>
      </div>
    </div>
  </nav>
  <p>Place holder for image and title</p>
  <app-about></app-about>
  <br>
  <app-classdetails></app-classdetails>
  <br>
  <app-instructors></app-instructors>
  <br>
  <app-gallery></app-gallery>
  <br>
  <app-contact></app-contact>

