<div class="card manager-container">
    <div class="card-header">
        Gallery Manager
    </div>
    <div class="card-body">
      <ul class="album-manager-list">
        <li *ngFor="let album of albums; let i=index">
          <div class="album-manager-list-container">
          <div class="row">
            <div class="col-4">
              <a href="#">
                <img class = "album-manager-cover" src="../../../assets/images/album-cover.jpg">
              </a>
            </div>
            <div class="col-8">
              <div *ngIf="!album.isEditing">
                <p><b>{{album.name}}</b></p>
                <p>{{album.description}}</p>
              </div>
              <div *ngIf="album.isEditing">
                <input type="text">
                <textarea name="albumDescription"></textarea>
                <button class="btn btn-primary" (click)="onEditAlbum($event, title, descriptionText, i)">OK</button>
              </div>
              <button class="btn btn-primary btn-album-operation" (click)="onModifyAlbum($event, i)">Modify</button>
              <button class="btn btn-danger btn-album-operation" (click)="onDeleteAlbum($event, i)">Delete</button>
            </div>
          </div>
        </div>
        </li>
      </ul>
    </div>
</div>
