<div class="card manager-container" *ngIf="!isPhotoManagerActive">
    <div class="card-header">
        <div>
          <span>Album Manager</span>
          <span class="album-add-btn"><button class="btn btn-primary"
                (click)="addNewAlbum($event)">New</button></span>
        </div>
    </div>
    <div class="card-body">
      <ul class="album-manager-list">
        <li *ngFor="let album of albums; let i=index">
          <div class="album-manager-list-container">
          <div class="row">
            <div class="col-4">
              <a class="btn" (click)="onViewAlbum($event, i)">
                <img class = "album-manager-cover" src="../../../assets/images/album-cover.jpg">
              </a>
            </div>
            <div class="col-8">
              <div *ngIf="!album.isEditing">
                <p><b>{{album.name}}</b></p>
                <p>{{album.description}}</p>
                <br>
                <button class="btn btn-primary btn-album-operation"
                        (click)="onModifyAlbum($event, i)">Modify</button>

                <button class="btn btn-primary btn-album-operation"
                        (click)="onViewAlbum($event, i)">View</button>

                <button class="btn btn-danger btn-album-operation"
                        (click)="onDeleteAlbum($event, i)">Delete</button>
              </div>
              <div *ngIf="album.isEditing">
                <input type="text"
                       [(ngModel)]="modifiedAlbumName"
                       class="form-control"
                       placeholder="Album Name">
                <textarea name="albumDescription"
                          [(ngModel)]="modifiedAlbumDescription"
                          class="form-control"
                          placeholder="Descriiption"></textarea>
                <button class="btn btn-primary btn-album-operation"
                        (click)="onEditAlbum($event, i)">OK</button>
                <button class="btn btn-default btn-album-operation"
                        (click)="onCancel($event, i)">Cancel</button>
              </div>

            </div>
          </div>
        </div>
        </li>
      </ul>
    </div>
</div>
<div class="card manager-container" *ngIf="isPhotoManagerActive">
  <div class="card-header">
    <div>
      <span>Photo Manager</span>
      <span class="album-add-btn">
        <button class="btn btn-primary album-add-btn"
            (click)="addNewPhoto($event)">
            New
        </button>
        <button class="btn btn-danger album-add-btn"
        (click)="backToAlbumManager()">
          Close
        </button>
      </span>
    </div>
    <div>
      <p class="photo-title-text">{{ selectedAlbum.name }}</p>
    </div>
  </div>
  <div class="card-body">
      <input type="file"
             accept="image/*"
             (change)="selectImageListener($event)">
  </div>
  <div class="card-body">
    <ul class="album-manager-list">
      <li *ngFor="let photo of photos; let i=index">
        <div class="album-manager-list-container">
          <div class="row">
            <div class="col-4">
                <img class = "album-manager-cover" [src]="photo.photourl">
            </div>
            <div class="col-8">
              <p>{{photo.id}}</p>
              <p>{{photo.photourl}}</p>
              <br>
              <button class="btn btn-danger btn-album-operation"
              (click)="onDeletePhoto($event, i)">Delete</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
