<div class="about-container">
    <div class="row">
        <div class="col-sm">
          <img src="../../../assets/images/about-image.JPG" alt="" class="about-title-image">
        </div>
        <div class="col-sm">
          <h1 class="main-header">ABOUT</h1>
          <p align="justify" class="text-style">Teaching traditional Shotokan Karate in Royston. The content needs to be updated with valid text.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras volutpat condimentum enim, id porttitor
               magna mattis non. Phasellus lobortis consequat tempus. Praesent felis libero, tincidunt non eleifend
                quis, consectetur et purus. Donec pellentesque neque erat, non tristique ex mattis eget.
                Sed elementum venenatis accumsan. Nulla vel pulvinar nisl. Etiam dignissim in mauris eu rhoncus.
                Nunc dictum diam non cursus viverra. Vivamus massa nibh, consectetur at congue eu, varius in augue.
                 Suspendisse potenti. Vivamus scelerisque arcu vel felis pulvinar, ut auctor tortor blandit.
                  Sed a nisl volutpat, euismod leo et, condimentum ligula. Nam vehicula tempor suscipit. Ut euismod
                  metus vel mi malesuada sollicitudin. Quisque laoreet diam ac orci rutrum luctus.
          </p>
        </div>
        <div class="col-sm">
          <h1 class="main-header">Twitter Feed</h1>
        </div>
    </div>
</div>
