<div class="about-container">
    <div class="row">
        <div class="col-sm">
          <img src="../../../assets/images/about-image.JPG" alt="" class="img-fluid">
        </div>
        <div class="col-sm about-content-view">
          <h1 class="main-header">ABOUT</h1>
          <p align="justify" class="text-style">
              We are a family friendly Karate club based in Royston , Hertfordshire in the UK.
              Our aim is to teach Shotokan style of karate with emphasis to self-defense and fitness.
              The classes run in a safe and friendly environment, with paramount importance to safety,
              respect and discipline; making it comfortable for everyone to learn and enjoy the training.


          </p>
          <p align="justify" class="text-style">
          We have students of all ages, including adult beginners. The club accepts the students
          from the age of six onwards.
          </p>
        </div>
        <div class="col-sm twitter-feed-enclosing">
          <!-- <h1 class="main-header">Twitter Feed</h1> -->
          <div class="twitter-feed-container">
            <ngx-twitter-timeline
              [data]="twitterData"
              [opts]= "twitterOptions"
            ></ngx-twitter-timeline>
          </div>
        </div>
    </div>
</div>
