

.icon-image{
  width:80px;
  height:80px;
  margin-right: 10px;
}

.section-title {
  width: 100%;
  background-color: #343a40;
}

.section-title-text {
  color:white;
  text-align: center;
  vertical-align: middle;
}

.agm-map {
  width:100%;
  height: 400px;
  border: 1px;
  border-radius: 5px;
  border-color: gray;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.about-slider {
  width: 100%;
  height: 40%;
}

.about-slider-img {
  object-fit: cover;
  width: 100%;
  height: 600px;
}
