
<div class="carousel slide about-slider" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner" >
      <div [class]="i == 0? 'carousel-item active' : 'carousel-item'" *ngFor="let slide of slides; let i = index">
        <img class= "d-block w-100 about-slider-img" [src]="slide.image" alt="">
        <div class="carousel-caption d-none d-md-block">
            <h5>{{"Main Title #"+i+1}}</h5>
            <p>{{ "Subtitle #"+i+1 }}</p>
          </div>
      </div>
    </div>
</div>
